body {
    font-family: 'Roboto Mono', monospace;
    margin: 0px 0px;
    background-image: url(img/background.png);
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
    height: 50px;
    background-color: rgb(94, 86, 86);
}

header {
    width: 1200px;
    margin: auto;
    margin-top: -20px;
    margin-bottom: -20px;
    background-image: url(img/bg-body.jpg);
    text-align: center;
}

button {
    font-family: 'Roboto Mono', monospace;
    background-color: #0000006b;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #368d6c;
    color: rgb(29, 26, 26);
}

.userItem:hover {
    background-color: #be1919;
    color: rgb(29, 26, 26);
}

input {
    font-family: 'Roboto Mono', monospace;
    width: 210px;
}

.name {
    padding-left: 50px;
    line-height: 50px;
    color: white;
}

.myLink>a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    line-height: 50px;
    color: white;
}

.myLink>a:hover {
    background-color: #2a5a5a57;
}

.main {
    position: relative;
    background-image: url(img/bg-body.jpg);
    margin: auto;
    padding-top: 1px;
    background-color: rgba(164, 137, 129, 0.57);
    width: 1200px;
    height: 1100px;
}

.inputForm {
    text-align: center;
    margin-top: 20px;
}

.item {
    position: relative;
    width: 220px;
    height: 320px;
    border-radius: 7px;
    margin: 0px 5px 5px;
}

.userIMG {
    width: 220px;
    height: 250px;
    border-bottom: 1px solid black;
}

.photo {
    width: 220px;
    height: 250px;
}

.userDescription {
    font-size: 80%;
    line-height: 35px;
    text-align: center;
    width: 220px;
    height: 50px;
    background-color: rgb(216, 198, 198);
    border-radius: 0px 0px 7px 7px;
}

.defaultGreeting {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 450px;
    height: 420px;
    border: 1px solid black;
    position: absolute;
    top: 130px;
    right: 355px;
}

ul.items {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    justify-content: center;
}

li {
    position: relative;
}

.closeUser {
    position: absolute;
    top: 5px;
    right: 5px;
}

.userName {
    background-color: rgb(216, 198, 198);
    text-align: center;
}

.listOfUsers {
    display: flex;
    justify-content: center;
}

.alertLimit {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
    font-size: 14px;
    padding: 4px 6px;
    position: absolute;
    top: 23px;
    right: 80px;
    background-color: #ea9999;
}

.invalidInput {
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    width: 420px;
    padding: 50px 10px;
    position: absolute;
    top: 250px;
    right: 360px;
}

.closeInvalidInput {
    position: absolute;
    top: 0px;
    right: 0px;
}

.liElement {
    position: relative;
    height: 333px;
}

.additional_info {
    font-size: 11px;
    position: absolute;
    right: 33px;
    bottom: -4px;
}
.userInfo {
    background-color: #fff9f2;
    position: relative;
    top: -325px;
    right: -5px;
    border: 1px solid black;
    width: 218px;
    height: 249px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.leftP {
    padding: 15px 5px;
}
.leftP > p {
    font-weight: bold;
}
.rightP {
    text-align: right;
    padding: 15px 5px;
}
.userLink {
    position: absolute;
    top: 210px;
    right: 20px;
}
.closeAdInfo {
    position: absolute;
    top: 0px;
    right: 0px;
}

.closeAdInfo:hover {
    background-color: #be1919;
    color: rgb(29, 26, 26);
}

.divInludes {
    margin-left: 20px;
}